.htag {
  > .child-wrap {
    margin: 30px 9px;
    padding-left: 5%;
  }

  & .tag {
    transition-duration: 0.3s;
    //font-family: $develop;
    font-weight: 100;
    color: #CCC;
    &.loaded {
      color: rgb(122, 26, 13);
    }
    font-size: 18px;
    #sym {
      color: rgb(194, 67, 67);
    }
  }
}