.scroll-line {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  align-self: normal;

  > .line {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #CCC;
    width: 1px;
    height: 100%;
  }

  > .mouse-icon {
    width: 15px;
    height: 23px;
    border-radius: 10px;
    border: 1px solid #000;
    z-index: 1;
    background: #fff;

    > span {
      position: relative;
      display: inline-block;
      left: 6px;
      width: 1px;
      height: 10px;
      background: #000;
    }
  }
}