$baseColor : #B94040;
$CTAColor: #1DE9B6;
$font1: 'Titillium Web', sans-serif;
$font2: 'Lato', sans-serif;
$fontTitle: 'Anton', sans-serif;
$develop: 'Roboto Mono', monospace;
$design: 'Abril Fatface', cursive;

body {
  background:#FFF;
  font-family: $font1;
}

p{
  font-size: 20px;
  line-height: 1.4;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 700px;
  margin: 0px auto;
}

.font-design {
  font-family: $design;
}

.font-develop {
  font-family: $develop;
}

.modal{
  //background: $baseColor;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  justify-content: center;

  &.hide{
    display: none !important;
  }

  &.user_type.show{
    background: #FFF;
    justify-content: flex-start;
    align-items: center;
    display: flex !important;
  }

  .close_btn_wrap{
    position: fixed;
    top: 0px;
    right: 0px;
    background: red;
  }

  .modal_wrap{
    text-align: left;
    margin-left: 50px;
    color: #222;
    h2{ font-size: 30px; }
    ul{
      li{
        list-style: none;
        display: inline-block;
        padding: 20px;
        font-size: 40px;
        img{
          max-width: 50px;
          margin-right: 20px;
        }
        a{
          line-height: 1;
          text-decoration: none;
        }
      }
    }
  }
}

header{
  padding: 10px 0px;
  .container{
    display: flex;
  }

  .site_name{
    font-size: 30px;
    font-family: $font2;
    font-weight: bold;

    &:hover{
      cursor: pointer;
      & > div{
        color: $baseColor;
        &:nth-child(1){
          width: 100px;
        }
        &:nth-child(2){
          transition-delay: 0.1s;
          width: 160px;
        }
      }
    }

    & > div{
      display: inline-block;
      width: 20px;
      overflow: hidden;
      transition-duration: 0.3s;
    }
  }

   ul.nav{
    flex:1;
    text-align: right;
    

    li{
      display: inline-block;
      list-style: none;
      padding: 10px;

      a {
        text-decoration: none;
        color: $baseColor;
      }
    }
  }
}

.home{
  display: flex;
  align-items: center;
  color:#333;
  [class^="font-"] {
    color:$baseColor;
    font-weight:100;
  }

  .welcome {
    min-height: calc(110vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;

    .animated-button {
      button {
        color: #999;
      }
    }
  }
}


button.menu_btn {
  padding:0;
  background:none;
  border:none;
  cursor:pointer;
  margin: 1em;
  width: 30px;

  &:after,
  &:before,
  div {
    background-color: #000;
    border-radius: 1px;
    content: '';
    display: block;
    height: 2px;
    margin: 10px 0;
    transition: all .3s ease-in-out;
  }

  &:hover,&.close {
    &:before {
      transform: translateY(12px) rotate(135deg);
    }

    div {
      transform: scale(0);
    }

    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
  }
}


.footer{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(#000, 0.5);
}


.project-thumb {
  border-left: 1px solid $baseColor;
  padding-left: 20px;

  h2 {
    border-bottom: $baseColor 1px solid;
    padding-left: 40px;
    padding-bottom: 10px;
    position: relative;
    left: -40px;
  }
}

.work {
  position: relative;
  > .work-tag {
    margin: 0px;
    font-size: 10vh;
    font-weight: bolder;
    position: absolute;
    color: rgba(#000, 0.1);
    top: -20px;
    left: 0%;
  }
}